<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>talking</title>

    <!--[if IE]
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
< ![endif]-->
    <link rel="stylesheet" href="__PUBLIC__/chat/css/amazeui.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/chat/css/main.css" />
    <link rel="stylesheet" href="__PUBLIC__/chat/css/style.css" />
    <link rel="stylesheet" href="__PUBLIC__/chat/css/amazeui.min.css" />

    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/jquery-1.11.0.min.js"></script>


    <!-- vue包-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/vue.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/axios.js"></script>
    <!-- zUIt包-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/amazeui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/zUI.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/wechat.js"></script>
    <!-- web_socket包-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/web_socket.js"></script>

    <!-- json包-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/json2.js"></script>

    <!--localstorage-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/localmain.js"></script>

    <!--aes-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/aes.js"></script>
    <script type="text/javascript" src="__PUBLIC__/chat/js/enc-base64.js"></script>
    <!--pako-->
    <script type="text/javascript" src="__PUBLIC__/chat/js/pako.js"></script>




    <style type="text/css">
        .top_talking{
            background: #cfcccc;
        }
    </style>
    <script type="text/javascript">

        function sortNumber(a, b)
        {
            return b - a// 按顺序排序
        }
        function myFunction(){
            console.log(213123);
        }
       // if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
        var ws, users,myfriends, roomslist,messages, client_list={};
        // 开启flash的websocket debug
        WEB_SOCKET_DEBUG = true;
        
        function roomsList() {
            roomslist =  mystorage.get("rooms")
            var talking_friend = ""
            if(roomslist){
               $.each(roomslist,function (i,item) {
                   if(item.isopen > 0){
                       var photo = "__STATIC__/images/head/"+item.accepter+".jpg";
                       talking_friend += '<li  data-id="'+item.accepter+'" data-key="'+item.room_key+'" data-isopen="'+item.isopen+'" class = "rooms_list" id="friend_talk_active" class="">';
                       talking_friend += '<div class="user_head"><img src="'+photo+'"/></div>';
                       talking_friend +='<div class="user_text">';
                       talking_friend += '<p class="user_name">'+item.name+'</p>';
                       talking_friend +=  ' <p class="user_message"></p> </div>';
                       talking_friend += ' <div class="user_time"></div> </li>';
                   }else{
                       messages = mystorage.get("messages")
                       if(messages){
                           messages.sort();
                           var key = "";
                           $.each(messages,function (e,msg) {
                               if(msg.room_key == item.room_key){
                                   if(key != msg.room_key){
                                       var photo = "__STATIC__/images/head/"+item.accepter+".jpg";
                                       talking_friend += '<li  data-id="'+item.accepter+'" data-key="'+item.room_key+'" data-isopen="'+item.isopen+'" class = "rooms_list" id="friend_talk_active" class="">';
                                       talking_friend += '<div class="user_head"><img src="'+photo+'"/></div>';
                                       talking_friend +='<div class="user_text">';
                                       talking_friend += '<p class="user_name">'+item.name+'</p>';
                                       talking_friend +=  ' <p class="user_message">'+msg.content+'</p> </div>';
                                       talking_friend += ' <div class="user_time"></div></li>';
                                   }
                                   key = msg.room_key;
                               }
                           })
                       }
                   }

               });
            }
            $(".user_list").append(talking_friend);

        }

        function friendsAndgroudList(){
            //加载好友列表
            myfriends = mystorage.get("friends")
            var friends_list = "";
            if(myfriends){
                $.each(myfriends,function(i,item){
                    var room_key = "";
                    var photo =  "";
                    var isopen = "";
                    if(roomslist){
                        $.each(roomslist,function (j,jtem) {
                            if(jtem.accepter == item.fid && jtem.sender == users.id){
                                room_key =  jtem.room_key;
                                isopen =  jtem.isopen;
                            }
                        })
                    }
                    if(item.photo === ""){
                         photo = "__STATIC__/images/head/"+item.fid+".jpg";
                    }else {
                        photo =   item.photo;
                    }
                    //好友，关注的公众号列表
                    friends_list += "<li data-id='"+item.fid+"' data-key='"+room_key+"' data-isopen='"+isopen+"' class='talk_to_friead'>";
                    friends_list += " <div class='friends_box'>";
                    friends_list += " <div class='user_head'><img src='"+photo+"'/></div>";
                    friends_list += "  <div class='friends_text'>";
                    friends_list += " <p class='user_name'>"+item.username+"</p>";
                    friends_list += " </div></div></li>";
                });
                $(".friends_list").append(friends_list);

            }


        }

        function tag() {
            var si1 = document.getElementById('si_1');
            var si2 = document.getElementById('si_2');
            var si3 = document.getElementById('si_3');
            si1.onclick = function () {
                si1.style.background = "url(__STATIC__/images/icon/head_2_1.png) no-repeat"
                si2.style.background = "";
                si3.style.background = "";
            };
            si2.onclick = function () {
                si2.style.background = "url(__STATIC__/images/icon/head_3_1.png) no-repeat"
                si1.style.background = "";
                si3.style.background = "";
            };
            si3.onclick = function () {
                si3.style.background = "url(__STATIC__/images/icon/head_4_1.png) no-repeat"
                si1.style.background = "";
                si2.style.background = "";
            };

            $(".sidestrip_icon a").click(function(){
                $(".sidestrip_icon a").eq($(this).index()).addClass("cur").siblings().removeClass('cur');
                $(".middle").hide().eq($(this).index()).show();
            });

        }

        function say(data){
            var text = document.getElementById('input_box');
            var chat = document.getElementById('chatbox');
            var btn = document.getElementById('send');
            var talk = document.getElementById('talkbox');
            if(data){
                if(data.sender != users.id){
                    chat.innerHTML += '<li class="other"><img src="'+'__STATIC__/images/head/'+users.id+'.jpg'+'"><span>'+data.content.trim().replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r')+'</span></li>';
                }
            }else{

                btn.onclick=function(){
                    if(text.value ==''){
                        alert('不能发送空消息');
                    }else{
                        var fid = $(".top_talking").data("id");
                        var key = $(".top_talking").data("key");
                        var isopen = $(".top_talking").data("isopen");
                        chat.innerHTML += '<li class="me"><img src="'+'__STATIC__/images/own_head.jpg'+'"><span>'+text.value+'</span></li>';
                        var message = {
                            type:"say",
                            sender:users.id,
                            accepter:fid,
                            key:key,
                            isopen:isopen,
                            content:text.value.replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r'),
                        }

                        ws.send(JSON.stringify(message));
                        text.value = '';

                    };
                };
            }

            chat.scrollTop=chat.scrollHeight;
            talk.style.background="#fff";
            text.style.background="#fff";


        };

        //窗口效果
        //点击登录class为tc 显示
        $(function() {
            //三图标
            tag();
           // mystorage.clear();
            users = mystorage.get("users")
            //登录窗口
            if(!users){
                $(".talk_window").hide();
                $("#popup").show();
                $(".error_text").hide();
                $(".own_head_top").hide();
                $(".own_head_bottom").hide();
                tc_center();
            }else{
                $('.own_user_name').text(users.username);
                $('.own_numb').text(users.username);
                $(".tc").hide();
                $(".talk_window").hide();
                roomsList();
                friendsAndgroudList();
            }
            $(document).on('click','#friend_talk_active',function(){
                var key = $(this).data('key');
                var fid = $(this).data('id');
                var isopen = $(this).data('isopen');
                var user_name = $(this).find("p").text();
                var id = 0;
                $('.user_list').find('li').each(function() {
                    id =  $(this).data('id');
                    if(id==fid){
                        $("li[data-id='"+id+"']").removeClass('down_talking');
                        $("li[data-id='"+id+"']").addClass("top_talking");
                        $('.user_list').prepend($(this));
                    }else{
                        $("li[data-id='"+id+"']").removeClass('top_talking');
                        $("li[data-id='"+id+"']").addClass("down_talking");
                    }

                })
                $("#talking_room_list").show();
                ws.onopen = onopenSocket(fid,isopen,key)
                $(".talking_windows_username").text(user_name);
                $(".talk_window").show();

            })

            $(document).on('click','.talk_to_friead',function(){
                var fid = $(this).data('id');
                var user_name = $(this).find("p").text();
                var lilist = [];
                $('.user_list').find('li').each(function() {
                    userid =  $(this).data('id');
                    lilist.push(userid);
                })
                var room_key = "";
                var isopen = "";
                var photo = "__STATIC__/images/head/"+fid+".jpg";
                if(roomslist){
                    $.each(roomslist,function (i,item) {
                        if(item.accepter == fid && item.sender == users.id){
                            room_key =  item.room_key;
                            isopen =  item.isopen;
                        }
                    })
                }
                if($.inArray(fid, lilist) == -1){
                    var talking_friend = ""
                    var id = 0;
                    talking_friend += '<li  data-id="'+fid+'" data-key="'+room_key+'" data-isopen="'+isopen+'" id="friend_talk_active" class="">';
                    talking_friend += '<div class="user_head"><img src="'+photo+'"/></div>';
                    talking_friend +='<div class="user_text">';
                    talking_friend += '<p class="user_name">'+user_name+'</p>';
                    talking_friend +=  ' <p class="user_message"></p> </div>';
                    talking_friend += ' <div class="user_time"></div> </li>';
                    $(".user_list").append(talking_friend);

                    $('.user_list').find('li').each(function() {
                        id =  $(this).data('id');
                        if(id==fid){
                            $("li[data-id='"+id+"']").removeClass('down_talking');
                            $("li[data-id='"+id+"']").addClass("top_talking");
                            $('.user_list').prepend($(this));
                        }else{
                            $("li[data-id='"+id+"']").removeClass('top_talking');
                            $("li[data-id='"+id+"']").addClass("down_talking");
                        }

                    })
                }else{
                    $('.user_list').find('li').each(function() {
                        id =  $(this).data('id');
                        if(id==fid){
                            $("li[data-id='"+id+"']").removeClass('down_talking');
                            $("li[data-id='"+id+"']").addClass("top_talking");
                            $('.user_list').prepend($(this));
                        }else{
                            $("li[data-id='"+id+"']").removeClass('top_talking');
                            $("li[data-id='"+id+"']").addClass("down_talking");
                        }

                    })
                }

                $(".talking_windows_username").text(user_name);
                $(".talk_window").show();
                 document.getElementById('si_1').style.background = "url(__STATIC__/images/icon/head_2_1.png) no-repeat";
                 document.getElementById('si_2').style.background = "";
                $("#friend_table_list").hide();
                $("#talking_room_list").show();
                //socket握手

                ws.onopen = onopenSocket(fid,isopen,room_key);
            })

            connect();
            say();
        });
        $(document).on('click','.tc',function(){
            $("#popup").show();
            $(".error_text").hide();
            tc_center();
        });
        $(document).on('click','.guanbi',function(){
            $("#popup").hide();
        });

        //窗口水平居中
        $(window).resize(function(){
            tc_center();
        });

        function tc_center(){
            var _top=($(window).height()-$(".popup").height())/2;
            var _left=($(window).width()-$(".popup").width())/2;
            $(".popup").css({top:_top,left:_left});
        }

        // 连接服务端
        function connect() {
            // 创建websocket
            ws = new WebSocket("ws://"+document.domain+":7272");
            console.log(ws);

            // 当有消息时根据消息类型显示不同信息
            ws.onmessage = onmessage;
            ws.onclose = function() {
                console.log("连接关闭，定时重连");
                connect();
            };
            ws.onerror = function() {
                console.log("出现错误");
            };
        }

        // 连接建立时发送登录信息
        function onopenSocket(fid,isopen,room_key)
        {

                var json = {
                    type: "join",
                    client_name: users.id,
                    fid: fid,
                    uid: users.id,
                    room_key:room_key,
                    room_id:1,
                    isopen:isopen
                }
                var joind_data =JSON.stringify(json)
                console.log("websocket握手成功，发送登录数据:"+joind_data);
                ws.send(joind_data);

        }

        // 服务端发来消息时
        function onmessage(e)
        {
            //console.log(e.data);
            var data = eval("("+e.data+")");
            switch(data['type']){
                // 服务端ping客户端
                case 'ping':
                    ws.send('{"type":"pong"}');
                    break;
                // 发言
                case 'join':
                    fid = data['accept_user'];
                    key = data['key'];
                    isopen = data['isopen'];
                    $('.user_list').find('li').each(function() {
                        id =  $(this).data('id');
                        if(id==fid){
                            //$("li[data-id='"+id+"']").removeClass('down_talking');
                            $(".top_talking").data("key",key)
                            $(".top_talking").data("isopen",isopen)
                            $('.user_list').prepend($(this));
                        }

                    });
                    break;
                case 'say':
                    say(data);
                    var arr = new Array();
                    var meage = mystorage.get(data.key);
                    if(meage){
                        $.each(meage,function(index,value){
                            arr.push(value);
                        });
                    }
                    arr.push(data);
                    mystorage.set(data.key,arr);
                    //console.log(mystorage.get(data.key));
                    break;
                // 用户退出 更新用户列表
                case 'logout':
                    //{"type":"logout","client_id":xxx,"time":"xxx"}
                   // say(data['from_client_id'], data['from_client_name'], data['from_client_name']+' 退出了', data['time']);
                    delete client_list[data['from_client_id']];
                   // flush_client_list();
                    break;
            }
        }


    </script>

</head  >
<body id="body" onbeforeunload="return myFunction()">
<div class="box">
    <div class="wechat">

        <div class="sidestrip">
            <div class="am-dropdown" data-am-dropdown>
                <!--头像插件-->
                <div class="own_head am-dropdown-toggle"></div>

                <div class="am-dropdown-content">

                    <div class="own_head_top">
                        <div class="own_head_top_text">
                            <p class="own_name">
                                <span class='own_user_name'></span>
                                <img src="__STATIC__/images/icon/head.png" alt="" /> </p>
                            <p class="own_numb"></p>
                        </div>

                        <img id= "own_user_photo" src="__STATIC__/images/own_head.jpg" alt="" />
                    </div>

                    <button class="tc">点击登录</button>

                    <div class="own_head_bottom">
                        <p><span>地区</span>江西 九江</p>
                        <div class="own_head_bottom_img">
                            <a href=""><img src="__STATIC__/images/icon/head_1.png"/></a>
                            <a href=""><img src="__STATIC__/images/icon/head_2.png"/></a>
                        </div>
                    </div>
                </div>

            </div>
            <!--三图标-->
            <div class="sidestrip_icon">
                <a id="si_1" style="background: url(__STATIC__/images/icon/head_2_1.png) no-repeat;"></a>
                <a id="si_2"></a>
                <a id="si_3"></a>
            </div>

            <!--底部扩展键-->
            <div id="doc-dropdown-justify-js">
                <div class="am-dropdown" id="doc-dropdown-js" style="position: initial;">
                    <div class="sidestrip_bc am-dropdown-toggle"></div>
                    <ul class="am-dropdown-content" style="">
                        <li>
                            <a href="#" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 400, height: 225}">意见反馈</a>
                            <div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
                                <div class="am-modal-dialog">
                                    <div class="am-modal-hd">Modal 标题
                                        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
                                    </div>
                                    <div class="am-modal-bd">
                                        Modal 内容。本 Modal 无法通过遮罩层关闭。
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li><a href="#">备份与恢复</a></li>
                        <li><a href="#">设置</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--登录窗口-->
        <div class="popup" id="popup">
            <div class="top_nav" id='top_nav'>
                <div align="center">
                    <span>登录账号</span>
                    <a class="guanbi"></a>
                </div>
            </div>
            <div class="min">
                <div class="tc_login" id = "login">
                    <div class="left">
                        <h4 align="center">手机扫描</h4>
                        <div align="center"><img src="__STATIC__/images/erweima.jpg" width="150" height="150" /></div>
                        <dd>
                            <div align="center">扫描二维码登录</div>
                        </dd>
                    </div>
                    <div class="right">
                        <form method="POST" name="form_login" target="_top">
                            <div align="center">
                                <a href="">短信快捷登录</a>
                                <i class="icon-mobile-phone"></i>
                                <input type="text"  :username="users.username" v-model="users.username" required="required" placeholder="用户名" autocomplete="off" class="input_yh">
                                <input type="password" :password="users.password" v-model="users.password" required="required" placeholder="密码" autocomplete="off" class="input_mm">

                            </div>
                            <dd>
                                <span class="error_text" style="color:red"></span>
                                <div align="center"><a href="">遇到登录问题</a></div>
                            </dd>
                            <div align="center">
                                <input @click="userLogin" class="button" title="Sign In" value="登录">
                            </div>
                        </form>
                        <dd>
                            <div align="center"><a href="#" target="_blank">立即注册</a></div>
                        </dd>
                        <hr align="center" />
                        <div align="center">期待更多功能 </div>
                    </div>
                </div>
                <script>
                    $(function () {
                        login =  new Vue({
                            el:'#login',
                            data:{
                                users:{
                                    username:'',
                                    password:''
                                }
                            },
                            methods:{
                                userLogin(){

                                    var data = {
                                        username: this.users.username,
                                        password: this.users.password,
                                        ac: "login",
                                    };
                                    //var poststr = gzip(JSON.stringify(data)).replace("+","{#}")
                                    var poststr = gzip(data)

                                    axios.post('__LOGIN__', {
                                        data: poststr,
                                    })
                                        .then(function (response) {
                                            var result = response.data;
                                            if(result.code == 200){

                                                var alllist = unzip(result.data)

                                                users = mystorage.set("users", alllist.users);//存储json格式cookie
                                                if(alllist.messages){
                                                    messages =  mystorage.set("messages", alllist.messages);
                                                }
                                                if(alllist.rooms){
                                                    roomslist = mystorage.set("rooms", alllist.rooms);
                                                    roomsList();
                                                }

                                                if(alllist.friends){
                                                    myfriends =  mystorage.set("friends", alllist.friends);
                                                    friendsAndgroudList();
                                                }

                                                $('.own_user_name').text(users.username);
                                                $('.own_numb').text( users.username);
                                                $("#popup").hide();
                                                $(".own_head_top").show();
                                                $(".own_head_bottom").show();
                                                $(".error_text").hide();
                                                $(".tc").hide();
                                                $(".talk_window").hide();

                                            }else{
                                                $(".error_text").text(result.msg);
                                                $(".error_text").show();
                                                $(".tc").show();
                                                $(".own_head_top").hide();
                                                $(".own_head_bottom").hide();
                                            }

                                        })
                                        .catch(function (error) {
                                        });
                                }

                            }
                        });


                    });


                </script>

            </div>
        </div>
        <!--聊天列表-->
        <div class="middle on" id="talking_room_list">
            <div class="wx_search">
                <input type="text" placeholder="用户名 手机号 微信号"/>
                <button >+</button>
            </div>
            <div class="office_text">
                <ul class="user_list">

                </ul>
            </div>
        </div>

        <!--好友列表-->
        <div class="middle" id="friend_table_list">
            <div class="wx_search">
                <input type="text" placeholder="用户名 手机号 微信号"/>
                <button class="search_add_frends">+</button>
            </div>
            <div class="office_text">
                <ul class="friends_list">
                    <!--<li id="">-->
                        <!--<p>新的朋友</p>-->
                        <!--<div class="friends_box">-->
                            <!--<div class="user_head"><img src="__STATIC__/images/head/1.jpg"/></div>-->
                            <!--<div class="friends_text">-->
                                <!--<p class="user_name">新的朋友</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>

        <!--程序列表-->
        <div class="middle">
            <div class="wx_search">
                <input type="text" placeholder="搜索收藏内容"/>
                <button>+</button>
            </div>
            <div class="office_text">
                <ul class="icon_list">
                    <li class="icon_active">
                        <div class="icon"><img src="__STATIC__/images/icon/icon.png" alt="" /></div>
                        <span>全部收藏</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon1.png" alt="" /></div>
                        <span>链接</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon2.png" alt="" /></div>
                        <span>相册</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon3.png" alt="" /></div>
                        <span>笔记</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon4.png" alt="" /></div>
                        <span>文件</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon5.png" alt="" /></div>
                        <span>音乐</span>
                    </li>
                    <li>
                        <div class="icon"><img src="__STATIC__/images/icon/icon6.png" alt="" /></div>
                        <span>标签</span>
                    </li>
                </ul>
            </div>
        </div>

        <!--聊天窗口-->
        <div class="talk_window">
            <div class="windows_top">
                <div class="windows_top_box">
                    <span class="talking_windows_username"></span>
                    <ul class="window_icon">
                        <li><a href=""><img src="__STATIC__/images/icon/icon7.png"/></a></li>
                        <li><a href=""><img src="__STATIC__/images/icon/icon8.png"/></a></li>
                        <li><a href=""><img src="__STATIC__/images/icon/icon9.png"/></a></li>
                        <li><a href=""><img src="__STATIC__/images/icon/icon10.png"/></a></li>
                    </ul>
                    <div style="display: none" class="extend" class="am-btn am-btn-success" data-am-offcanvas="{target: '#doc-oc-demo3'}"></div>
                    <!-- 侧边栏内容 -->
                    <div id="doc-oc-demo3" class="am-offcanvas">
                        <div class="am-offcanvas-bar am-offcanvas-bar-flip">
                            <div class="am-offcanvas-content">
                                <p><a href="http://music.163.com/#/song?id=385554" target="_blank">网易音乐</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--聊天内容-->
            <div class="windows_body">
                <div class="office_text" style="height: 100%;">
                    <ul class="content" id="chatbox" >
                        <!--<li class="me"><img src="__STATIC__/images/own_head.jpg" title=""><span></span></li>-->
                        <!--<li class="other"><img src="__STATIC__/images/head/15.jpg" title=""><span></span></li>-->
                    </ul>
                </div>
            </div>

            <div class="windows_input" id="talkbox">
                <div class="input_icon">
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                    <a href="javascript:;"></a>
                </div>
                <form onsubmit="say(); return false;">
                <div class="input_box">
                    <textarea name="" rows="" cols="" id="input_box"></textarea>
                    <button id="send">发送（S）</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!--登录-->
<script type="text/javascript">
    $(function () {

        $(".top_nav").mousedown(function(e){
            $(this).css("cursor","move");//改变鼠标指针的形状
            var offset = $(this).offset();//DIV在页面的位置
            var x = e.pageX - offset.left;//获得鼠标指针离DIV元素左边界的距离
            var y = e.pageY - offset.top;//获得鼠标指针离DIV元素上边界的距离
            $(document).bind("mousemove",function(ev){

                $(".popup").stop();//加上这个之后

                var _x = ev.pageX - x;//获得X轴方向移动的值
                var _y = ev.pageY - y;//获得Y轴方向移动的值

                $(".popup").animate({left:_x+"px",top:_y+"px"},10);
            });

        });

        $(document).mouseup(function() {
            $(".popup").css("cursor","default");
            $(this).unbind("mousemove");
        });
    })
</script>

</body>
</html>
